
<h2>Agregar Producto</h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off"
            [formGroup]="formulario"
            (ngSubmit)="submit()">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Ingrese un nombre...">
                    <span class="form-text text-danger"
                            *ngIf="validarCampo('name')">Este campo es obligatorio</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Descripcion</label>
                <div class="col-sm-9">
                    <input type="text"
                    class="form-control"
                    formControlName="description"
                    placeholder="Ingrese una description...">
                    <span class="form-text text-danger"
                            *ngIf="validarCampo('description')">Este campo es obligatorio</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                    class="form-control"
                    formControlName="price"
                    placeholder="Ingrese un precio...">
                    <span class="form-text text-danger"
                            *ngIf="validarCampo('price')">
                            {{ priceError }}
                    </span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-9">
                    <input type="text"
                    class="form-control"
                    formControlName="status"
                    placeholder="Ingrese el status...">
                    <span class="form-text text-danger"
                            *ngIf="validarCampo('status')">Este campo es obligatorio</span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <button type="submit"
                            class="btn btn-outline-primary w-25">
                        Crear
                    </button>
                </div>
            </div>
        </form>
            <div class="alert alert-danger d-flex align-items-center mt-2"
                style="height: 20px;"
                *ngIf="error">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Ocurrio un error enviando la informacion :(
                </div>
            </div>
            <div class="alert alert-success d-flex align-items-center mt-2"
                style="height: 20px;"
                *ngIf="success">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    Se envio la informacion correctamente :)
                </div>
            </div>
    </div>
</div>